   /* <通用區> */
  .pageTitle {
    font-family: "LXGW WenKai Mono TC", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  .logIn{
    position: absolute;
    padding:3px;
    right: 3px;
    bottom: 5px;
    font-size: 12px;
    font-weight:bolder;
    color: black;
    background-color:rgb(118, 151, 114) ;
    box-shadow: 5px 5px 5px rgb(51, 95, 51);
    
  }
  .logIn:hover{
    background-color:rgb(32, 90, 32) ;
    color: white;
  }
  .nav-item{
    width:max-content ;
  }

  .nav-link{
    font-size: 15px;
    font-weight: 1000;
  }

  .nav-link:hover{
    font-size: 15px;
    font-weight: 1000;
    filter: drop-shadow(2px 2px 20px rgb(51, 95, 51));
    box-shadow: 1px 1px 10px rgb(51, 95, 51);
    border-radius:10px;
  }

  .active{
    box-shadow: 1px 1px 3px rgb(51, 95, 51);
    border-radius:10px;
  }

  .footer{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }
  
 
  